html {
  font-size: 100%;
  box-sizing: border-box;
}

#logo {
  display: none !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --gray: #f6f6f6;
  --blue: #2e54ff;
  --black: #272727;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body {
  background-image: url(/img/2.webp);
  line-height: 1.3;
  font-family: para;
}

@font-face {
  font-family: heading;
  /* src: url(../../font/ranade/Ranade-Bold.otf); */
  src: url(../font/IntegralCF-Heavy.ttf);
}
@font-face {
  font-family: para;
  src: url(../../font/excon/Excon-Light.otf);
}
@font-face {
  font-family: mid;
  src: url(../../font/ranade/Ranade-Medium.otf);
}

/* ALL SWITCH TEXT HERE */
.switch {
  background-color: var(--gray);
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  transition: 0.4s all ease;
  text-decoration: none;
}

.switch span {
  position: relative;
  top: 0px;
  transition: 0.4s all ease;
  color: var(--black);
}

.switch span:after {
  content: "Schedule Meeting";
  display: block;
  opacity: 0;
  transition: 0.4s all ease;
  color: white;
}

.switch:hover {
  background-color: var(--blue);
}
.switch:hover span {
  top: -40px;
}

.switch:hover span:after {
  opacity: 1;
}

.navbar .switch:hover {
  background-color: transparent;
}

/* Navbar */
.home .switch span:after {
  content: "Home";
  color: var(--blue);
}

/* branding */
.branding .switch span:after {
  content: "Branding";
  color: var(--blue);
}

/* designing */
.designing .switch span:after {
  content: "Designing";
  color: var(--blue);
}

/* development */
.development .switch span:after {
  content: "Development";
  color: var(--blue);
}

/* contact */
.contact .switch span:after {
  content: "Contact";
  color: var(--blue);
}

.branding__page .contact .switch span:after {
  content: "Contact";
  color: white;
}

/* ALL SWITCH ENDS HERE */

span {
  color: #2e54ff;
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  border-radius: 50px !important;
  width: 180px;
}

h1 {
  font-family: heading;
  font-size: 2rem !important;
  font-size: clamp(2rem, 1.1rem + 2.3vw, 6rem) !important;
}

h2 {
  font-family: mid;
  font-size: 1.2rem !important;
  font-size: clamp(1.2rem, 0.94rem + 0.9vw, 2.5rem) !important;
}

p {
  font-family: para;
  font-size: 0.875rem !important;
  font-size: clamp(0.875rem, 0.7rem + 0.5vw, 1.5625rem) !important;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  background-color: var(--gray);
  border-radius: 30px;
}

.header {
  background-image: url(/img/bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner__section {
  padding-top: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.banner__section .switch {
  padding: 1px 20px;
}

.nav-link {
  padding: 1px 10px !important;
}

/* Responsive navbar */
.navbar-toggler {
  border: none !important;
  outline: none;
  width: 50px;
}

.navbar-collapse.collapse.show .navbar-nav li {
  padding-left: 0px;
  padding-bottom: 20px;
}

.navbar-collapse.collapse.show .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 70vh;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 920px) {
  .navbar-brand img {
    height: 18px;
  }
}

/* Section 2 start */
.section__2 {
  padding-top: 80px;
}
.section__2 .left {
  width: 80%;
  margin-inline: auto;
  text-align: center;
}

.section__2 .right {
  position: relative;
}
.section__2 .right img {
  position: absolute;
  height: 20rem;
  top: -100px;
  z-index: -1;
}

/* Section 2 ends */

.section__3 {
  padding-top: 100px;
  overflow-x: hidden;
  overflow: hidden;
}
.section__3 .servicesLinkCon {
  margin-top: 140px;
  margin-bottom: 200px;
  text-align: center;
}
.section__3 .servicesLinkCon a {
  text-decoration: none;
}
.section__3 .servicesLinkCon h3 {
  margin-bottom: 30px;
  transition: opacity 0.5s ease-in-out 0s;
}
.section__3 .servicesLinkCon:hover .serviceRow,
.section__3 .servicesLinkCon:hover h3 {
  opacity: 0.2;
}
.section__3 .servicesLinkCon .serviceRow {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 30px;
  transition: all 0.5s ease-in-out 0s;
}
.section__3 .servicesLinkCon .serviceRow .serviceName {
  font-size: 2em;
  z-index: 10;
  position: relative;
  transition: color 0.5s ease-in-out 0s;
}
.section__3 .servicesLinkCon .serviceRow .serviceName.research {
  color: var(--blue);
}
.section__3 .servicesLinkCon .serviceRow .serviceName.branding {
  color: var(--blue);
}
.section__3 .servicesLinkCon .serviceRow .serviceName.creativeCampaigns {
  color: var(--blue);
}
.section__3 .servicesLinkCon .serviceRow .servicePreview {
  position: absolute;
  width: 0%;
  height: 10%;
  top: 40%;
  left: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: width, left, height, top;
  transition-delay: 0s, 0s, 0.5s, 0.5s;
}
.section__3 .servicesLinkCon .serviceRow .servicePreview.research {
  background-image: url(../../img/branding.jpg);
}
.section__3 .servicesLinkCon .serviceRow .servicePreview.branding {
  background-image: url(../../img/designing.jpg);
}
.section__3 .servicesLinkCon .serviceRow .servicePreview.campaigns {
  background-image: url(../../img/development.jpg);
}
.section__3 .servicesLinkCon .serviceRow:hover {
  opacity: 1;
  z-index: 20;
  padding: 110px 0;
}
.section__3 .servicesLinkCon .serviceRow:hover .serviceName {
  color: white;
}
.section__3 .servicesLinkCon .serviceRow:hover .servicePreview {
  width: 60%;
  left: 20%;
  height: 300px;
  top: -30px;
}

/* Section 4 starts */
.section__4 a {
  text-decoration: none;
  color: black;
}
.section__4 .work {
  width: 60%;
  margin-inline: auto;
  border-radius: 30px;
  background-color: #eceff1;
}
.section__4 .work2 {
  width: 70%;
}
.section__4 .work3 {
  width: 80%;
}
.section__4 .work:hover {
  background-color: #f6f6f6;
  transform: scale(1.02);
  box-shadow: 0 0 #e6ebef, 0 4px 24px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.section__4 .switch span:after {
  content: "Read the Case Study";
}
.section__4 .switch {
  background-color: white;
  width: 180px;
}
.section__4 .switch:hover {
  background-color: var(--blue);
  color: white !important;
}

@media (max-width: 770px) {
  .section__4 .work,
  .section__4 .work2,
  .section__4 .work3 {
    width: 99%;
  }
}

/* Section 4 Ends */

.footer {
  background-color: var(--gray);
  margin-top: 100px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.footer p {
  margin-bottom: 0px !important;
}

/* BRANDING PAGE STARTS -------- */
/* BRANDING PAGE STARTS -------- */
/* BRANDING PAGE STARTS -------- */
.clear__process {
  position: relative;
}
.horizontal__scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.clear__process section {
  min-width: 100%;
  height: 100vh;
  background-image: url(../img/2.webp);
  background-position: center;
  background-size: cover;
}
.clear__process section:nth-child(2) {
  background-color: #addaff;
}
.clear__process section:nth-child(3) {
  background-color: #b7ffd0;
}
.clear__process section:nth-child(4) {
  background-color: #fff4b3;
  position: relative;
  z-index: 1;
}
.clear__process section:nth-child(5) {
  background-color: #ffcca7;
  width: auto !important;
}
.clear__process section:nth-child(6) {
  background-color: #d2fdd4;
  width: auto !important;
}
.clear__process section:nth-child(7) {
  background-color: #fa6c6c;
  width: auto !important;
}

.clear__process .section3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear__process .section4 .card {
  width: 80%;
  margin-inline: auto;
  padding: 20px;
  background-color: var(--gray);
}
.clear__process .section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clear__process .section5 a {
  text-decoration: none;
  color: var(--black);
}
.clear__process .section5 a:hover {
  color: var(--blue);
  transition: 0.4s;
}

/* Desiging Page Start */
/* Desiging Page Start */
/* Desiging Page Start */
/* Desiging Page Start */

.designing__Page .project_show a .card {
  margin: 5px;
  height: 500px;
  background-size: cover;
  background-position: top;
  cursor: pointer;
  border-radius: 30px;
}
.designing__Page .project_show a .card1 {
  background-image: url(../img/design/1.png);
}
.designing__Page .project_show a .card2 {
  background-image: url(../img/design/2.png);
}
.designing__Page .project_show a .card3 {
  background-image: url(../img/design/3.png);
}

.designing__Page .project_show .card:hover {
  background-position: bottom;
  transition: all 10s ease-in-out;
}

@media (max-width: 501px) {
  .project_show {
    flex-wrap: wrap;
  }
}

/* LOGO Design */
.designing__Page .logo_design {
  margin-top: 50px;
}

.designing__Page .logo_show {
  position: relative;
  overflow: hidden;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
}
.gallery__strip {
  min-height: 100vh;
}
.gallery__strip__wrapper {
  flex: 0 0 100%;
  justify-content: flex-end;
  background: #222;
  border-right: 2px solid #333;
  position: relative;
}

@media (min-width: 500px) {
  .gallery__strip__wrapper {
    flex: 0 0 50%;
  }
}
@media (min-width: 950px) {
  .gallery {
    height: 100vh;
  }
  .gallery__strip.one {
    animation: 60s move-it ease alternate infinite 1s;
    transform: translateY(2%);
  }
  .gallery__strip.three {
    animation: 70s move-it ease alternate infinite 3s;
    transform: translateY(2%);
  }
  .gallery__strip.two {
    animation: 58s move-it-2 ease alternate infinite 5s;
    transform: translateY(-50%);
  }
  .gallery__strip.four {
    animation: 65s move-it-2 ease alternate infinite 2s;
    transform: translateY(-50%);
  }
  .gallery__strip:hover {
    animation-play-state: paused;
  }
  .gallery__strip__wrapper {
    flex: 0 0 25%;
  }
}
.photo {
  position: relative;
  text-align: right;
  padding-bottom: 3rem;
}
.photo__image img {
  width: 90%;
  transform: translateX(30%);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.photo__name {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin-top: -25px;
  transition: 0.4s ease-in-out 0.4s;
  position: relative;
  width: 100%;
}
.photo:hover .photo__image img {
  transform: translateX(0%);
}
.photo:hover .photo__name {
  color: #fff;
}

@keyframes move-it {
  0%,
  90%,
  100% {
    transform: translateY(2%);
  }
  45% {
    transform: translateY(-50%);
  }
}
@keyframes move-it-2 {
  0%,
  90%,
  100% {
    transform: translateY(-50%);
  }
  45% {
    transform: translateY(5%);
  }
}

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  height: 350px;
}

.designing__Page .contact-us {
  background-color: #222222;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-inline: auto;
  transform: scale(1);
}
.designing__Page .contact-us:hover {
  transform: scale(2);
  transition: 0.5s;
  width: 100%;
  height: 350px;
  margin-top: -200px;
  border-radius: 0%;
}
.designing__Page .contact-us:hover {
  color: var(--blue);
}
.designing__Page a {
  text-decoration: none;
  color: var(--gray);
}

/* Development_page Starts Here */
/* Development_page Starts Here */
/* Development_page Starts Here */

.development_page .card {
  position: relative;
  overflow: hidden;
}
.development_page .card .code-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.development_page .it-service {
  margin-top: 150px;
}
.development_page .it-service .flex-wrap {
  gap: 50px;
  justify-content: center;
  margin-top: 60px;
}
.development_page .it-service .flex-wrap .card {
  border: none;
}
.development_page .it-service .flex-wrap .card img {
  height: 120px;
  width: 120px;
}

.development_page .contact-us {
  background-color: #222222;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-inline: auto;
  transform: scale(1);
}
.development_page .contact-us:hover {
  transform: scale(2);
  transition: 0.5s;
  width: 100%;
  height: 350px;
  margin-top: -200px;
  border-radius: 0%;
}
.development_page .contact-us:hover {
  color: var(--blue);
}
.development_page a {
  text-decoration: none;
  color: var(--gray);
}

/* contact page */
/* contact page */
/* contact page */
/* contact page */

.contact_page .box {
  margin-top: 200px;
  width: 75%;
  background-color: white;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.08);
  margin-inline: auto;
  border-radius: 30px;
  padding: 50px;
}

.contact_page .form-control:focus {
  border-color: unset;
  outline: 0;
  box-shadow: none;
}
.contact_page .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  padding-left: 0;
  width: 60%;
}
.contact_page .looking-for {
  gap: 20px;
}
.contact_page .looking-for label {
  padding: 0px 20px;
  display: flex;
  width: auto;
  align-items: center;
  border-radius: 50px;
  height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.contact_page .looking-for label span {
  color: var(--black);
}

.contact_page input[type="checkbox"] {
  height: 25px;
}

.contact_page .budget .form-select {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  padding-left: 0;
  width: 60%;
  padding-left: 10px;
}
.contact_page .budget .form-select:focus {
  border-color: unset;
  outline: 0;
  box-shadow: none;
}
.contact_page .textarea {
  border: 1px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 0px;
  padding-left: 0;
  width: 60%;
  margin-top: 15px;
}
.contact_page .submit-btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 5px 0px;
}
.contact_page .submit-btn:hover {
  background-color: rgb(74, 74, 74);
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .contact_page .form-control,
  .contact_page .budget .form-select {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .contact_page .box {
    width: 95%;
    margin-inline: auto;
  }
}



.case-study{
  margin-inline: auto;
  width: 60% !important;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
}

@media(max-width: 600px) {
  .case-study{
      width: 95% !important;
  }
}


.case-study .case-study-img::selection{
  display: none !important;
}



.case_study_page .contact-us {
  background-color: #222222;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-inline: auto;
  transform: scale(1);
}
.case_study_page .contact-us:hover {
  transform: scale(2);
  transition: 0.5s;
  width: 100%;
  height: 350px;
  margin-top: -200px;
  border-radius: 0%;
}
.case_study_page .contact-us:hover {
  color: var(--blue);
}
.case_study_page a {
  text-decoration: none;
  color: var(--gray);
}